<!-- include header -->
<%- include('partials/_header') %>

  <!-- MAIN SITE-->
  <main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
            <div class="filter">
                <a href="/"><i class="fa-solid fa-angles-left"></i>All Users</a>
            </div>
        </div>
        <div class="form-title text-center">
            <div class="text-dark">New User</div>
            <span class="text-light">Use the below form to create a new account</span>
        </div>


        <!-- add user form  -->


        <%- include('partials/_form') %>
    </div>
</main>
<!-- MAIN SITE-->


<!-- include footer -->
<%- include('partials/_footer') %>


